#info {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#playlist {
    position: absolute;
    margin-left: 900px;
    top: 10px;
    list-style-type: none;
}

.songButton {
    border: none;
    color: white;
    font-size: 15px;
    background-color: transparent;
}


.songButton:hover{
    color: yellow;
    padding-left: 0px;
}

audio::-webkit-media-controls-panel {
    background-color: transparent;
}

audio::-webkit-media-controls-volume-slider {
    /*color: white;*/
}


h1{
    color: white;
    font-family:'Inconsolata', monospace;
    text-transform: uppercase;
    margin-left: 70px;
}

p {
    font-family:'Inconsolata', monospace;
    color: white;
    font-size: 20px;
}

li {
    margin: 5px;
}

body {
    background-color: black;
}


/*Josse lagt till */
/* graph buttons */

.buttonClass {
    position: absolute;
    left: 30px;
    width: 200px;
    height: 10px;
    opacity: 1;
    z-index: 1;
    /*margin-top: auto;*/
}


.button {
    font-size:20px;
    border: none;
    background-color: transparent;
    color: white;
    outline: 0;
    font-family: 'Inconsolata', monospace;
}

.button:hover{
    font-weight:yell;
}

.buttonText{
    top:250px;
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
    margin-left: 20px;
}

#freqText, #timeText{
    margin-left: 20px;
}


#buttonTime
{
   top: 190px;

}

#buttonFreq
{
    top: 220px;
}

/*
#gitimg{
    top:60px;
}*/