#info {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#playlist {
    right: 5px;
    color: yellow;
}

.songButton {
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
}

h1{
    color: white;
}

p {
    color: white;
    font-size: 20px;

}

li {
    margin: 5px;
}

body {
    background-color: black;
}
